/* PAGE */

body {
    background: white;
    overflow: hidden;
}

/* TITLE */

.gallery-title {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

/* GALLERY */

.gallery-container {
    display: flex;
    gap: 50px;

    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;

    height: 80vh;

    align-items: center;

    padding: 50px;

    white-space: nowrap;
}

/* HIDE SCROLLBAR */

.gallery-container::-webkit-scrollbar {
    display: none;
}

/* POLAROID */

.polaroid {
    position: relative;

    background: white;

outline: 3px solid #dcdcdc;

padding: 15px 15px 90px 15px;

    width: 250px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    border: 2px solid #eee;

    text-align: center;

    transition: 0.3s;

    flex-shrink: 0;
}

/* PHOTO */

.polaroid img {
    width: 100%;
    height: 300px;

    object-fit: cover;
}

/* TEXT */

.polaroid p {
    margin-top: 15px;

    font-size: 16px;
}

/* HOVER */

.polaroid:hover {
    transform: scale(1.05);
}

/* RANDOM ROTATIONS */

.rotate-left {
    transform: rotate(-3deg);
}

.rotate-right {
    transform: rotate(3deg);
}

/* STRING */

.rope {
    position: absolute;

    width: 120px;

    top: -110px;
    left: 50%;

    transform: translateX(-50%);

    pointer-events: none;
}

/* ARROWS */

.arrow {
    position: absolute;

    top: 50%;

    width: 70px;

    cursor: pointer;

    z-index: 10;

    transition: 0.2s;
}

.arrow:hover {
    transform: scale(1.1);
}

.left {
    left: 20px;
}

.right {
    right: 20px;
}




/* POPUP */

.popup {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.85);

    display: none;

    justify-content: center;
    align-items: center;

    z-index: 999;
}

/* BIG IMAGE */

.popup-image {
    max-width: 80%;
    max-height: 80%;

    border: 10px solid white;

    box-shadow: 0 0 20px black;
}

/* CLOSE BUTTON */

.close-btn {
    position: absolute;

    top: 30px;
    right: 30px;

    width: 60px;

    cursor: pointer;

    transition: 0.2s;
}

.close-btn:hover {
    transform: scale(1.1);
}