body {
    -webkit-user-select: none; /* Chrome / Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    user-select: none;         /* Standard */
}



/* PAGE */

body {
    background-image: url("images/paper.jpg");

    background-size: cover;

    background-repeat: repeat;

 font-family: "Caveat", cursive;

    background-color: #fdfbf7;

    overflow: hidden;
}

/* TITLE */

.gallery-title {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

/* GALLERY */

.gallery-container {
    display: flex;

    gap: 50px;

    overflow-x: auto;

    overflow-y: visible;

    scroll-behavior: smooth;

    align-items: flex-start;

    padding: 80px 50px 50px 50px;
}

/* HIDE SCROLLBAR */

.gallery-container::-webkit-scrollbar {
    display: none;
}

/* POLAROID */

.polaroid {
transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

    position: relative;

    background: white;

    padding: 15px 15px 90px 15px;

    width: 250px;

    outline: 3px solid #dcdcdc;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    text-align: center;

    flex-shrink: 0;

}

/* PHOTO */

.polaroid img {
    width: 100%;
    height: 300px;

    object-fit: cover;
}

/* TEXT */

.polaroid p {
    margin-top: 15px;

    font-size: 16px;
}

/* HOVER */

.polaroid {
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

    transform-origin: top center;
}

.polaroid:hover {

    transform: scale(1.05);

    box-shadow: 0 10px 20px rgba(0,0,0,0.25);

    z-index: 100;
}

/* RANDOM ROTATIONS */



/* STRING */

.rope {
    position: absolute;

    width: 120px;

    top: -160px;   /* 👈 move it higher */

    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}
/* ARROWS */

.arrow {
    position: absolute;

    top: 50%;

    width: 70px;

    cursor: pointer;

    z-index: 10;

    transition: 0.2s;
}

.arrow:hover {
    transform: scale(1.1);
}

.left {
    left: 20px;
}

.right {
    right: 20px;
}




/* POPUP */

.popup {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.85);

    display: none;

    justify-content: center;
    align-items: center;

    z-index: 999;
}

/* BIG IMAGE */

.popup-image {
    max-width: 80%;
    max-height: 80%;

    border: 10px solid white;

    box-shadow: 0 0 20px black;
}

/* CLOSE BUTTON */

.close-btn {
    position: absolute;

    top: 30px;
    right: 30px;

    width: 60px;

    cursor: pointer;

    transition: 0.2s;
}

.close-btn:hover {
    transform: scale(1.1);
}
/* Graduation Cap */
* {
  cursor: url('https://cdn.cursors-4u.net/previews/graduation-cap-b66c2f64-32.webp') 33 36, auto !important;
}




.rotate-left {
    animation-duration: 5s;
}

.rotate-right {
    animation-duration: 3.5s;
}


/* mobile friendly*/

@media screen and (max-width: 768px) {

    nav {
        display: flex;
        justify-content: center;
        gap: 15px;

        flex-wrap: wrap;
    }

    nav a {
        font-size: 16px;
    }

    .gallery-title {
        font-size: 28px;
    }

    .gallery-container {
        gap: 30px;

        padding: 20px;
    }

    .polaroid {
        width: 180px;

        padding: 10px 10px 70px 10px;
    }

    .polaroid img {
        height: 220px;
    }

    .polaroid p {
        font-size: 14px;
    }

    .arrow {
        width: 45px;
    }

    .popup-image {
        max-width: 95%;
        max-height: 75%;
    }

    .close-btn {
        width: 45px;
    }

    .rope {
        width: 80px;

        top: -80px;
    }

}


/* particles */
.particles {
    position: fixed;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    pointer-events: none;

    overflow: hidden;

    z-index: -2;
}

.particles::before,
.particles::after {

    content: "";

    position: absolute;

    width: 200%;
    height: 200%;

    background-image:
        radial-gradient(circle, rgba(255,255,255,0.7) 2px, transparent 2px);

    background-size: 120px 120px;

    animation: floatParticles 20s linear infinite;
}

.particles::after {
    animation-duration: 35s;

    opacity: 0.5;
}

@keyframes floatParticles {

    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-200px);
    }

}




